#game-wrapper {
    background-color: white;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    max-width: 400px;
    margin: 50px auto;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    border-top: 6px solid #4a90e2;
}

#userGuess {
    padding: 10px;
    font-size: 1.5rem;
    width: 80px;
    text-align: center;
    border: 2px solid #ddd;
    border-radius: 8px;
    margin-bottom: 15px;
}

#guessBtn {
    background-color: #4a90e2;
    color: white;
    padding: 10px 25px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

#feedback{
    margin-top: 20px;
    font-weight: bold;
    font-size: 1.2rem;
    min-height: 30px;
}

#resetBtn {
    margin-top: 15px;
    background: none;
    color: #888;
    border: none;
    text-decoration: underline;
    cursor: pointer;
}